<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrecipes.lowlevelnative"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:hasCode="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <!-- Where to find NativeActivity implementation -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="llnademo" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>